/* Fonts
    Headlines: font-family: 'Chewy', cursive;
    Paragraphs: font-family: 'Share', cursive;
    
*/

/* Colors
    
*/

* { /* clears inherited padding/margin */
    padding: 0px;
    margin: 0px;
}

/* begin content general styling */

html {
    
}

body {
    font-family: 'Share', cursive;
    background-image: url("../images/background.jpg");
}

div.container {
    
}

footer, header {
    padding: 15px;
    background-color: black;
    border: 5px solid darkslategray;
    color: white;
}

/* end of content general styling */


/* begin font general styling */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Chewy', cursive;
}

p {
    font-family: 'Share', cursive;
}

/* end of font general styling */


/* begin specific styling */

header {
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    color: inherit;
}

nav {
    padding: 5px;
    text-align: center;
    background-color: black;
}

main, article {
    padding: 10px;
    font-size: 18;
    text-align: center;
    background-color: white;
}

main h4 {
    background-color: black;
    color: white;
}

article h4 { /* Mrs. Winchester: Is it possible to share these stylings in one selector? using syntax "main h4, article h4 {*some code*}" does not seem to work */
    background-color: black;
    color: white;
}

main a {
    text-decoration: none;
    color: black;
}

main a:hover {
    color: #50E9FF;    
}

main a:visited {
    color: #093B26;
}

footer {
    text-align: right;
}

.button {
    background: white;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 12px;
    
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: darkslategray;
    color: white;
}

/* end of specific styling */